body {
    background-color: #F5F7FB;
    font-family: 'Karla', sans-serif;
}

.intro {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.questions-container {
    width: 800px;
    padding:20px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.question {
    font-size: 15px;
    font-weight: 700;
}

.answers {
    display: flex;
    font-size: 11px;
    gap: 13px;
}

.answer-option {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #293264;
    text-align: center;
    padding:3px;
    cursor: pointer;
}

.answer-option .option-selected {
    background-color: #293264;
}

.checkAnswers {
    font-family: 'Karla', sans-serif;
    color:white;
    width:120px;
    height:35px;
    border-radius: 10px;
    background-color: #4D5B9E;
}

.startButton{
    height: 52px;
    width: 193px;
    background-color: #4D5B9E;
    font-family: 'Karla', sans-serif;
    color:white;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;

}

.gameResults{
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    gap: 15px;
}

.playAgainButton {
    font-family: 'Karla', sans-serif;
    height: 30px;
    width: 105px;
    color: #F5F7FB;
    border-radius: 10px;
    background-color: #4D5B9E;

}
